In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_at_work_AAA/Absenteeism_at_work.csv', sep=';')
df = raw_csv_data.copy()
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [3]:
# # Changing the number of rows and columns to be displayed
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None
# display(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [5]:
df.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [6]:
reason_for_absense_dict = {
    '1' : 'Certain infectious and parasitic diseases',  
    '2' : 'Neoplasms',  
    '3' : 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism',  
    '4' : 'Endocrine, nutritional and metabolic diseases',  
    '5' : 'Mental and behavioural disorders',  
    '6' : 'Diseases of the nervous system',  
    '7' : 'Diseases of the eye and adnexa',  
    '8' : 'Diseases of the ear and mastoid process',  
    '9' : 'Diseases of the circulatory system',  
    '10' : 'Diseases of the respiratory system',  
    '11' : 'Diseases of the digestive system',  
    '12' : 'Diseases of the skin and subcutaneous tissue',  
    '13' : 'Diseases of the musculoskeletal system and connective tissue',  
    '14' : 'Diseases of the genitourinary system',  
    '15' : 'Pregnancy, childbirth and the puerperium',  
    '16' : 'Certain conditions originating in the perinatal period',  
    '17' : 'Congenital malformations, deformations and chromosomal abnormalities',  
    '18' : 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified',  
    '19' : 'Injury, poisoning and certain other consequences of external causes',  
    '20' : 'External causes of morbidity and mortality',  
    '21' : 'Factors influencing health status and contact with health services',
    '22' : 'Patient follow-up',
    '23' : 'Medical consultation',
    '24' : 'Blood donation',
    '25' : 'Laboratory examination',
    '26' : 'Unjustified absense',
    '27' : 'Physiotherapy',
    '28' : 'Dental consultation'}

In [7]:
# Does not add anything to the data set
df.drop(columns=['ID'], inplace=True)
df.head()

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,4
1,0,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
2,23,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,4
4,23,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,2

## Analyse Reason for absense column

In [8]:
df['Reason for absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [9]:
# Reason for absense is unique for each user and the description in the data description file
print(sorted(df['Reason for absence'].unique())) # missing number 20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28]

In [10]:
df['Reason for absence'].min(), df['Reason for absence'].max()

(0, 28)

In [11]:
# check if a user had more than one reason for absense (result is only one so each user gave only one reason for absense)
pd.get_dummies(df['Reason for absence']).sum(axis=1).unique()

array([1], dtype=int64)

In [12]:
reason_columns = pd.get_dummies(df['Reason for absence'], drop_first=True)
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
738,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Avoid multicollinearity
df.drop(columns=['Reason for absence'], inplace=True)
df.head()

,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,4
1,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
2,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,2
3,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,4
4,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,2

In [14]:
# Group absense reasons by type of reason
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1) # diseases
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1) # Injuries
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1) # Pregnancy related
reason_type_4 = reason_columns.loc[:, 22:28].max(axis=1) # routine stuff
# reason_type_4 = reason_columns.loc[:, 22;].max(axis=1)

## Concatenate reason for absense column to df

In [15]:
df = pd.concat([df, reason_type_1, reason_type_3, reason_type_3, reason_type_4], axis=1)

In [16]:
df.rename(columns={0:'Reason_1', 1:'Reason_2', 2:'Reason_3', 3:'Reason_4'}, inplace=True)
df.head()

,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,...,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Reason_1,Reason_2,Reason_3,Reason_4
0,7,3,1,289,36,13,33,239.554,97,0,...,0,1,90,172,30,4,0,0,0,1
1,7,3,1,118,13,18,50,239.554,97,1,...,0,0,98,178,31,0,0,0,0,0
2,7,4,1,179,51,18,38,239.554,97,0,...,0,0,89,170,31,2,0,0,0,1
3,7,5,1,279,5,14,39,239.554,97,0,...,1,0,68,168,24,4,1,0,0,0
4,7,5,1,289,36,13,33,239.554,97,0,...,0,1,90,172,30,2,0,0,0,1

In [17]:
df.columns.values

array(['Month of absence', 'Day of the week', 'Seasons',
       'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'Reason_1', 'Reason_2', 'Reason_3',
       'Reason_4'], dtype=object)

### Reorder columns

In [18]:
cols = ['Reason_1', 'Reason_2', 'Reason_3',
'Reason_4', 'Month of absence', 'Day of the week', 'Seasons',
'Transportation expense', 'Distance from Residence to Work',
'Service time', 'Age', 'Work load Average/day ', 'Hit target',
'Disciplinary failure', 'Education', 'Son', 'Social drinker',
'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
'Absenteeism time in hours']
print(cols)

['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month of absence', 'Day of the week', 'Seasons', 'Transportation expense', 'Distance from Residence to Work', 'Service time', 'Age', 'Work load Average/day ', 'Hit target', 'Disciplinary failure', 'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index', 'Absenteeism time in hours']

In [19]:
df = df[cols]
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,1,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,1,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,1,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,1,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,1,2,1,0,1,90,172,30,2

## Create a Checkpoint

In [20]:
df_reason_mod = df.copy()
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,1,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,1,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,1,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,1,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,7,3,1,289,36,13,...,0,1,2,1,0,1,90,172,30,8
736,1,0,0,0,7,3,1,235,11,14,...,0,3,1,0,0,1,88,172,29,4
737,0,0,0,0,0,3,1,118,14,13,...,0,1,1,1,0,8,98,170,34,0
738,0,0,0,0,0,4,2,231,35,14,...,0,1,2,1,0,2,100,170,35,0
739,0,0,0,0,0,6,3,179,45,14,...,0,1,1,0,0,1,77,175,25,0

## Education, Son and Pet Column Analysis

In [21]:
df_reason_mod['Education'].value_counts()
# Because the majority only has high scholl education (value=1), it makes sense to group the others in a single category

1    611
3     79
2     46
4      4
Name: Education, dtype: int64

In [22]:
df_reason_mod['Education'] = df_reason_mod['Education'].map({1:0, 2:1, 3:1, 4:1})
df_reason_mod['Education'].value_counts()

0    611
1    129
Name: Education, dtype: int64

## Final Checkpoint

In [23]:
df_preprocessed = df_reason_mod.copy()
df_preprocessed.head(10)

,Reason_1,Reason_2,Reason_3,Reason_4,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,0,0,0,1,7,3,1,289,36,13,...,0,0,2,1,0,1,90,172,30,4
1,0,0,0,0,7,3,1,118,13,18,...,1,0,1,1,0,0,98,178,31,0
2,0,0,0,1,7,4,1,179,51,18,...,0,0,0,1,0,0,89,170,31,2
3,1,0,0,0,7,5,1,279,5,14,...,0,0,2,1,1,0,68,168,24,4
4,0,0,0,1,7,5,1,289,36,13,...,0,0,2,1,0,1,90,172,30,2
5,0,0,0,1,7,6,1,179,51,18,...,0,0,0,1,0,0,89,170,31,2
6,0,0,0,1,7,6,1,361,52,3,...,0,0,1,1,0,4,80,172,27,8
7,0,0,0,1,7,6,1,260,50,11,...,0,0,4,1,0,0,65,168,23,4
8,0,1,1,0,7,2,1,155,12,14,...,0,0,2,1,0,0,95,196,25,40
9,0,0,0,1,7,2,1,235,11,14,...,0,1,1,0,0,1,88,172,29,8

In [26]:
df_preprocessed.to_csv('Data/absenteeism_preprocessed.csv')