In [1]:
from absenteeism_module_fs import *

In [2]:
# import pandas as pf
pu = pd.read_csv('Absenteeism_at_work.csv', sep=';')
pu.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [3]:
model = absenteeism_model_fs('model_fs', 'scaler_fs')

In [4]:
model.load_and_clean_data('Absenteeism_at_work.csv')

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:   11.2s finished

[2022-02-20 16:22:46] Features: 1/10 -- score: 0.6505988781651274[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.5s finished

[2022-02-20 16:22:46] Features: 2/10 -- score: 0.7248605125218404[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:    0.7s finished

[2022-02-20 16:22:47] Features: 3/10 -- score: 0.7952991860110381[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:    0.9s finished

[2022-02-20 16:22:48] Features: 4/10 -- score: 0.8055017611004798[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:    1.0s finished

[2022-02-20 16:22:49] Features: 5/10 -- score: 0.8070026763180519[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:    1.1s finished

[2022-02-20 16:22:50] Features: 6/10 -- score: 0.8077886055412263[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:    1.1s finished

[2022-02-20 16:22:51] Features: 7/10 -- score: 0.8109656862745097[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:    1.1s finished

[2022-02-20 16:22:53] Features: 8/10 -- score: 0.8121149083395736[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:    1.0s finished

[2022-02-20 16:22:54] Features: 9/10 -- score: 0.8137012299969493[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    0.9s finished

[2022-02-20 16:22:55] Features: 10/10 -- score: 0.811432031228333

In [5]:
model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Day of the week,Transportation expense,Disciplinary failure,Son,Social drinker,Pet,Probability,Prediction
0,0,0,0,1,3,289,0,2,1,1,0.664830,1
1,0,0,0,0,3,118,1,1,1,0,0.002502,0
2,0,0,0,1,4,179,0,0,1,0,0.267233,0
3,1,0,0,0,5,279,0,2,1,0,0.908146,1
4,0,0,0,1,5,289,0,2,1,1,0.587838,1
...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,3,289,0,2,1,1,0.924670,1
736,1,0,0,0,3,235,0,1,0,1,0.741119,1
737,0,0,0,0,3,118,0,1,1,8,0.120401,0
738,0,0,0,0,4,231,0,2,1,2,0.614426,1
739,0,0,0,0,6,179,0,1,0,1,0.250276,0

In [6]:
df_new_obs = model.predicted_outputs()
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Day of the week,Transportation expense,Disciplinary failure,Son,Social drinker,Pet,Probability,Prediction
0,0,0,0,1,3,289,0,2,1,1,0.664830,1
1,0,0,0,0,3,118,1,1,1,0,0.002502,0
2,0,0,0,1,4,179,0,0,1,0,0.267233,0
3,1,0,0,0,5,279,0,2,1,0,0.908146,1
4,0,0,0,1,5,289,0,2,1,1,0.587838,1
...,...,...,...,...,...,...,...,...,...,...,...,...
735,1,0,0,0,3,289,0,2,1,1,0.924670,1
736,1,0,0,0,3,235,0,1,0,1,0.741119,1
737,0,0,0,0,3,118,0,1,1,8,0.120401,0
738,0,0,0,0,4,231,0,2,1,2,0.614426,1
739,0,0,0,0,6,179,0,1,0,1,0.250276,0

In [7]:
df_new_obs.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Day of the week',
       'Transportation expense', 'Disciplinary failure', 'Son',
       'Social drinker', 'Pet', 'Probability', 'Prediction'],
      dtype='object')

## Integration with MySQL

In [ ]:
import pymysql

In [ ]:
conn = pymysql.connect(database='database_name', user='username', password='password')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT * FROM database_name;')

## loop to insert data into database

In [ ]:
insert_query = 'INSERT INTO database_name VALUES '

In [ ]:
insert_query

In [ ]:
for i in range(df_new_obs.shape[0]):
    insert_query += '('
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
        
    insert_query = insert_query[:-2] + '), '

In [ ]:
insert_query

In [ ]:
insert_query = insert_query[:-2] + ';' # reverse index to corret end of statement in mysql
insert_query

In [ ]:
cursor.execute(insert_query)

In [ ]:
conn.commit()

In [ ]:
conn.close()